# Virtual Environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# TensorFlow / Keras temporary files
*.h5.tmp

# Logs
*.log